<!DOCTYPE html>
<html>
  <head>
    <title>Social Wall</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <div id="page">
      <h1>Social Wall</h1>
      <form id="message-form" method="POST" action="/messages">
        <textarea id="message-body" name="body" placeholder="Enter a message here."></textarea>
        <button type="submit">Post Message</button>
      </form>
      <% if messages.empty? %>
        <h2>Sorry, no messages. :(</h2>
      <% else %>
        <h2>Messages</h2>
        <ol class="message-list">
          <% messages.each do |message| %>
            <li>
              <div class="message-body">
              <%= message.id %
                <%= message.body %>
              </div>
              <button id="likes" onclick="
              
              clicks = clicks + 1;
              document.getElementById('likes').innerHTML= 'like (' + clicks + ')'
              
              "> Like  </button>
              <script type="text/javascript">var clicks = 0;</script>
              <div class="message-timestamp">
                Posted on <%= message.created_at.strftime("%B %d, %Y at %I:%M:%S %p ") %>
              </div>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </body>
</html>
